<h1>Add course</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Corse name</label>
        <span class="helper-text" data-error="wrong"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Corse price</label>
        <span class="helper-text" data-error="wrong"></span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL image</label>
        <span class="helper-text" data-error="wrong"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary">add course</button>
</form>